<!DOCTYPE html>
<html lang="vi">
<body>
<header class="p-3 mb-3 border-bottom" style="background-color: #f8f9fa; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/index.html" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <i class="bi bi-car-front-fill fs-2 text-primary me-2"></i>
        <span class="fs-4 fw-bold">Thuê Xe MQ</span>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ms-lg-4">
        <li><a href="/index.html" class="nav-link px-2 fw-medium">Trang chủ</a></li>
        <li><a href="/admin/dashboard.html" class="nav-link px-2 fw-medium">Quản trị</a></li>
        <li><a href="#" class="nav-link px-2 fw-medium">Dịch vụ</a></li>
        <li><a href="#" class="nav-link px-2 fw-medium">Giới thiệu</a></li>
        <li><a href="#" class="nav-link px-2 fw-medium">Liên hệ</a></li>
      </ul>

    </div>
  </div>
</header>
</body>
</html>